<div class="stepwizard" id="stepwizard">
    <div class="stepwizard-row setup-panel">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8 col-md-offset-2 step_scontainer">
                    <div class="stepwizard-step" id="stepwizard-step-1">
                        <a href="#step-1" id="btnstep1" type="button" class="btn btn-default btn-circle kil-active">1</a>
                        <span class="grey_border"></span>
                        <p class="Enc_text"><small>Enclosure Selection</small></p>
                    </div>
                    <div class="stepwizard-step" id="stepwizard-step-2">
                        <a href="#step-2" id="btnstep2" type="button" class="btn btn-default btn-circle">2</a>
                        <span class="grey_border"></span>
                        <p class="cover_text"><small>Cover Option</small></p>
                    </div>
                    <div class="stepwizard-step" id="stepwizard-step-3">
                        <a href="#step-3" id="btnstep3" type="button" class="btn btn-default btn-circle">3</a>
                        <span class="grey_border"></span>
                        <p class="box_text"><small>Box Option</small></p>
                    </div>
                    <div class="stepwizard-step" id="stepwizard-step-4">
                        <a href="#step-4" id="btnstep4" type="button" class="btn btn-default btn-circle">4</a>                        
                        <p class="result_text"><small>Result</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="btn-nav">
    <div class="btn-left">
        <button class="kil-btn kil-btn-small stepViewBtn backBtn">Back</button>
    </div>
    <div class="btn-right">
        <button class="kil-btn kil-btn-small stepViewBtn resetBtn d-none" name="resetBtn">Reset</button>
        <a class="kil-btn kil-btn-small stepViewBtn noteBtn d-none" href="#popup1" style="text-align: center;">Note</a>
        <button class="kil-btn kil-btn-small stepViewBtn nextBtn d-none">Next</button>
        <button class="kil-btn kil-btn-small stepViewBtn submitBtn d-none">Submit</button>
    </div>
</div>

