@model Killark.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/Login_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/Content/HubbellCustom/Script/ajaxCommon.js"></script>
    <script src="~/Content/HubbellCustom/Script/login.js"></script>
</head>
<body>
    <div id="dialog" title="Basic dialog">
        <p>It's not support for this view. Please view in desktop</p>
    </div>
    <div class="ful-body-wrap">
        <div class="ful-body forgot-page">
            <div class="center-pos">
                <section class="log-form">
                    <div class="reset_part">
                        <h4>Forgot Password</h4>                       
                    </div>
                    <div class="form-body email_part">
                        <form>
                            <div class="input-lrg">
                                @Html.TextBoxFor(m => m.EmailId, new
                              {
                                  @placeholder = "Email Address"
                              })
                            </div>
                        </form>
                    </div>
                    <div class="two-btn reset_btn_section">
                        @*<div class="box3_btn">*@
                            <button id="btnResetPwd" class="btn btn-small btf">Reset Password</button>
                            <button class="btn btn-small btn2" onclick="window.location.href = '@Url.Action("Login", "Account")'">Cancel</button>
                        @*</div>*@
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Page Modal -->
    <div id="myModal" class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" style="border-color:transparent;">
                    <p></p>
                </div>
                <div class="modal-footer" style="border-color:transparent">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
