@model Killark.Models.ResetPasswordModel
@{
    Layout = "~/Views/Shared/Login_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <script src="~/Content/HubbellCustom/Script/ajaxCommon.js"></script>
    <script src="~/Content/HubbellCustom/Script/login.js"></script>
    <script>
        function ValidatePassword() {
            $('#NewPassword').css(' border-width', '2px');
            $('#ConfirmPassword').css(' border-width', '2px');
            if ($('#NewPassword').val() == $('#ConfirmPassword').val()) {
                $('#NewPassword').css('border-color', 'green');
                $('#ConfirmPassword').css('border-color', 'green');

            } else {
                $('#NewPassword').css('border-color', 'red');
                $('#ConfirmPassword').css('border-color', 'red');
            }
        }
    </script>
</head>

<body>
    <div id="dialog" title="Basic dialog">
        <p>It's not support for this view. Please view in desktop</p>
    </div>
    <div class="ful-body-wrap">
        <div class="ful-body forgot-page">
            <div class="center-pos">
                <section class="log-form">
                    <div class="reset_part">
                        <h4>Reset Password</h4>                        
                    </div>
                    <div class="form-body email_part">
                        <div class="pb input-lrg">
                            @Html.PasswordFor(m => m.NewPassword, new
                       {
                           @placeholder = "New Password",
                           onkeyup = "ValidatePassword();"
                       })
                        </div>
                        <div class="input-lrg">
                            @Html.PasswordFor(m => m.ConfirmPassword, new
                       {
                           @placeholder = "Confirm Password",
                           onkeyup = "ValidatePassword();"
                       })
                        </div>
                    </div>
                    <div class="two-btn reset_btn_section">                        
                            <button id="btnPasswordReset" class="btn btn-small btf">Reset Password</button>
                            <button class="btn btn-small btn2" 
                                    onclick="window.location.href = '@Url.Action("ResetPassword", "Account")'">Cancel</button>                      
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- Page Modal -->
    <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body" style="border-color:transparent;">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

